/* You can add global styles to this file, and also import other style files */

body {
  background: #ffffff;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.container-fluid {
  padding: 0 !important;
}

h2 {
  font-weight: 600 !important;
}
